[Unit]
Description=perform provision tasks
ConditionPathExists=/auto-provision

[Service]
ExecStart=/usr/bin/autoprovision

[Install]
WantedBy=multi-user.target default.target