[global]
keyboard="de"
country="de"
fqdn="{{ pve_fqdn | default('pveauto.install') }}"
mailto="{{ pve_mailo | default('root@localhost') }}
timezone="{{ pve_timezone | default('Europe/Berlin') }}"
root-password = "{{ pve_rootpw }}"
root-ssh-keys = [
    {% for key in pve_ssh_keys %}
    "{{ key }}"
    {% end %}
    ]
reboot-on-error = true

[network]
source = "from-dhcp"

[disk-setup]
filesystem = "ext4"
lvm.swapsize = {{ pve_ramsize * 2.5 }}
lvm.maxvz = 0
lvm.hdsize = {{ pve_boot_disk_size - (pve_boot_disk_size * 0.25) }}
disk-list = [
    {% for disk in pve_boot_disks %}
    "{{ disk }},"
    {% end %}
    ]


[post-installation-webhook]
url = "{{ pve_webhook }}"
cert-fingerprint = "{{ pve_cert_fingerprint }}"

[first-boot]
source = "from-iso"
ordering = "before-webhook"